/*
green: #46893F;
beige: #FFF0A5;
light blue: #F3F6FF;
mustard: #FFB03B;
orange: #B64926;
red: #8E2800;
milky: #EFECCA;
blue: #046380;
Dark green: #002F2F;

beautiful colors
red-brown: #9C2A00 hover: #AF5433;
green: #3BC492 hover: #62CFA7;
blue: #046380 hover: #4EA2AF;
*/

body {
  padding-bottom: 20px;
  font-family: 'ff-tisa-web-pro', serif;
  background: url('../images/white-wall.png') repeat fixed;
  font-size: 17px;
}
/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 1060px;
    padding-top: 10px;
    padding-left: 0;
    padding-right: 0;
    /*background: #FFF;
    border: solid 0px #FFF;
    border-radius: 4px;
    box-shadow: 1px 1px 5px #999;*/
  }
}
@media (min-width: 768px) {
  .container-fluid {
    padding: 0;
  }
}

.btn {font-size: 16px; font-family: 'bree-serif', serif;}

.alert { font-family: 'bree-serif', serif; }

.row-no-negative-margin { margin-right: 0; margin-left: 0; }

a:hover {text-decoration: none;}

.blue {
  color: #2CBFBF;
}

img.logo {
  display: inline-block;
}

img.gallery {
  margin: 0 auto;
}

img.banner-heart {
  margin-left: 0px;
  float: left;
}

h1,h2,h3,h4,h5 {
  font-family: 'ff-tisa-web-pro', cursive;
  color: #444;
}
.home-banner {
    background: url('../images/spring-flower.jpg') no-repeat 0 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    height: 400px;
    margin-bottom: 2em;
    text-align: center;
    -webkit-box-shadow: 1px 1px 3px 1px #999;
 box-shadow: 1px 1px 3px 1px #999;

}
.home-banner:before {
    content: "";
    display: inline-block;
    height: 105%;
    vertical-align: middle;
}
.home-banner .banner-inner {
    position: relative;
    text-align: center;
}
.center {
    display: inline-block;
    vertical-align: middle;
}
.thumbnail { background-color: rgba(255, 255, 255, 0.1); }

.btn-primary, 
.btn-default,
.btn-success,
.btn-info,
.btn-warning,
.btn-danger, .btn-link  {
  -webkit-transition: background-color 0.5s ease;
  -moz-transition: background-color 0.5s ease;
  -o-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;  
}

.container-narrow > hr {
  margin: 30px 0;
}
.footer {
  border-top: 1px solid #999;
  margin-top: 20px;
  padding-top: 20px;
}
/* Customize the nav-justified links to be fill the entire space of the .navbar */
.navbar-collapse {
  padding: 0;
}
nav.navbar-default,
nav.navbar {
 /*background-color: #772318;*/
 border: none;
 min-height: 2em;
 margin-top: 20px;
 margin-bottom: 40px;
 -webkit-box-shadow: 1px 1px 3px 1px #999;
 box-shadow: 1px 1px 3px 1px #999;
 position: relative;
}
.nav-admin {
  background: #005d60;
  background: -moz-linear-gradient(top,  #005d60 0%, #183844 59%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#005d60), color-stop(59%,#183844));
  background: -webkit-linear-gradient(top,  #005d60 0%,#183844 59%);
  background: -o-linear-gradient(top,  #005d60 0%,#183844 59%);
  background: -ms-linear-gradient(top,  #005d60 0%,#183844 59%);
  background: linear-gradient(to bottom,  #005d60 0%,#183844 59%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005d60', endColorstr='#183844',GradientType=0 );
  -webkit-box-shadow: 1px 1px 3px 1px #999;
  box-shadow: 1px 1px 3px 1px #999; 
  margin-top: 20px;
}

/* to prevent mobile nav collapse */
ul.nav-justified{
    height: auto !important;
    overflow: visible !important;
}
/* to hide side-bar on mobile nav*/
.navbar-collapse.in {
overflow-y: visible;
}

ul.nav-justified {
    background: #384f66;
    background: -moz-linear-gradient(top,  #384f66 0%, #062132 101%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#384f66), color-stop(101%,#062132));
    background: -webkit-linear-gradient(top,  #384f66 0%,#062132 101%);
    background: -o-linear-gradient(top,  #384f66 0%,#062132 101%);
    background: -ms-linear-gradient(top,  #384f66 0%,#062132 101%);
    background: linear-gradient(to bottom,  #384f66 0%,#062132 101%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#384f66', endColorstr='#062132',GradientType=0 );
    width: 100%;
    height: 2.2em;
    border-radius: 4px;
}

.nav-justified > li {
  padding: 0;
  width: auto;
  list-style: none;
  float: left;
  display: block;
  position: relative;
  height: 2.2em;
}

@media(max-width:767px){
  .nav-justified > li {
  float: none;
}
}

.nav-justified > li > a {
    display: block;
    padding: 0 1em;
    line-height: 2.1em;
    color: #C9D3D3;
    font-family: 'bree', serif;
    position: relative;
    font-size: 1em;
}


.nav-justified > li > a:hover,
.nav-justified > li > a:focus {
    color: #FFF;
    background: #092436;
    -webkit-transition: background-color 0.5s ease;
    -moz-transition: background-color 0.5s ease;
    -o-transition: background-color 0.5s ease;
    transition: background-color 0.5s ease;
    border-radius: 4px 4px 0 0;
}
.nav-justified > .active > a,
.nav-justified > .active > a:hover,
.nav-justified > .active > a:focus {
    font-weight: bold;
}

.navbar-default {
    background-color: transparent;
    border-color: transparent;
}

.navbar-brand {
  float: left;
  padding: 30px 25px 5px;
  font-size: 30px;
  line-height: 20px;
}

a.navbar-brand {
  color: #3FA9F5 !important;
  font-family: 'bree-serif', georgia;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .masthead,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
}

.title-divider {
  border-bottom: 2px solid #289dcc;
  margin: 0 0 20px;
  padding-bottom: 10px;
  position: relative;
  text-align: left;
}
.title-divider span { color: #046380; }
.title-divider i { color: #289dcc; }


.form-info {
  color: #444;	
  margin-bottom: 3px;
  font-size: 0.9em;
  font-family: 'bree-serif', serif;
}

.modal-form-info {
    color: #EFEFEF;
}

.blue-box {
  background: #F6F6F6;
  padding:10px 15px;
  overflow: hidden;
  margin-bottom: 15px;
  box-shadow: 1px 1px 5px #888;
  color: #333;
  border-bottom: solid 1px #228B9B;
}

.blue-box img {
    margin-right: 15px;
    margin-bottom: 15px;
  }

.blue-box h4 {
  color: #8E2800;
  font-weight: bold;
}

#login-form {
    background: rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: #C9D3D3;
    padding: 2em 4em;
    font-size: 0.9em;
    font-family: 'bree-serif', serif;
    text-align: left;
}

.caption h5 {
  font-size: 0.9em;
  color: #8E2800;
  text-align: center;
}

.caption p { text-align: center; }

.form-control:focus {
  box-shadow: none;
}

.masthead {
  margin-bottom: 40px;
}

.modal-header, .modal-footer {
  border: none;
}

.modal-content {
  background: none;
  border: none;
  box-shadow: none;
}

/* push modal down */
.modal-body {
  padding-top: 40px;
}

textarea.form-control, .input-sm {
  background-color: #FFFFF0;
}

.thumbnail {
  margin-bottom: 10px;
  padding-top: 10px;
}

.panel h5 {
  margin-top: 0;
  font-family: 'ff-tisa-web-pro', serif;
  color: #FFF;
}

.panel-heading {padding:5px 15px 5px 20px; border:none;}
.panel-primary {border: none;}
.panel-primary > .panel-heading {background-color:#092255;box-shadow:1px 1px 5px #888;}
.panel-body {background: #FFFFF5;box-shadow:1px 0px 4px #999;padding:5px 5px 2px 7px; }
.panel-body blockquote{margin-bottom: 5px;}
/*Comment box*/
.comment {
  border-left: solid 5px #014582;
  padding: 5px 20px 20px;
  margin: 20px 0;
  background-color: #F6FBFF;
}

.comment h4 { border-bottom-color: #B06673; }

.title-divider h4 { display: inline-block; margin: 0 0 8px; }

/*Pagination*/
ul.pagination{margin: 0;}
div.pagi{margin-bottom: 0;}

.alert { padding: 5px; }

address {
  border-bottom: 1px dashed #999;
}

blockquote.address {
  font-size: 0.9em;
  font-family: 'bree-serif', Sans-serif;
  line-height: 1.6em;
  font-weight: bold;

}

address > a { 
  font-family: 'ff-tisa-web-pro', cursive; 
  display: inline-block; 
  font-size: 1.3em; 
  margin-bottom: 10px;
  padding-bottom: 10px; 
  color:#046380;
  border-bottom: 2px solid #289dcc;
}
address > a:hover { text-decoration: none; color: #4EA2AF;}
address i {color: #289dcc;}

.btn-default { background-color: #EFECCA; }

.btn-primary{background-color: #046380;} 

.center-text{ text-align: justify; }

.btn-transparent {
    background: #002336;
    color: #fff;
    font-weight: 300;
}
.btn-transparent:hover {
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
}
.home-login-error {
  color: #8E2800;
  background-color: rgba(255, 255, 255, 0.7);
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin-bottom: 10px;
  font-size: 1.1em;
}
.home-login-error ul {
  list-style: none;
  padding: 7px 10px 0;
}
.home-login-error i {
  color: #8E2800;
}
a.videoLink {
  position: relative;
  display: block;
  /*background:50% 50% no-repeat;*/
  margin: 20px 31px;
  float: left;
  padding: 0;
  width: 160px;
  height: 114px;
  background: #000 no-repeat 0 0;
  border-radius: 6px;
  border: solid 3px #045767;
}
a.videoLink img.play {
  position: absolute;
  top: 30px;
  left: 55px;
}
a.videoLink div.caption{
  position: absolute;
  width: 154px;
  bottom: 0;
  padding: 15px 5px 10px 5px;
  color: #C9D3D3;
  background-color: rgba(0,0,0,.5);
  font-size: 13px;
  border-radius: 0 0 5px 5px;
}
.blue-box th, .blue-box td {
  text-align: center;
}
.blue-box th {
  color: #002F2F;
}

.btn-primary {@include buttonBackground(blue, red); }